/*Project*/
#container-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.item-project {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: clamp(12px, 2vw, 18px); 
    max-width: 500px; 
    min-height: 300px;
    min-width: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 0;
    background: #1e1f26;
    margin: 10px;
    width: clamp(150px, 45vw, 250px); 
    height: auto;
}


.item-project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 10px rgba(54, 173, 228, 0.5);
    background-color: #505050;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    padding: 30px;
    display: block; 

    
    
}

.item-project .overlay {
    position: absolute;
    top: 100%; /* Initially set to hide the overlay */
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: top 0.5s ease;
    opacity: 0; 
}

.item-project:hover .overlay {
    top: 0; 
    opacity: 1; 
}

.GitHub {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.5s;
    opacity: 0;
}

.item-project:hover .GitHub {
    opacity: 1; /* Make GitHub link visible on hover */
}

#header{
position: static;
    margin: 0;
    z-index: 1;
}

@media (max-width: 700px) { 
    #header {
        margin-top: 230%; 
    }
    #title{
        margin-top: -20%;
    }
    
}

@media (max-width: 844px) { 
    #container-project {
        flex-direction: column; 
    }
}

@media (max-width: 844px) { 
    .item-project {
        min-width: clamp(10vw, 65vw, 100vw);; 
        min-height: clamp(10vw, 65vw, 100vw);
        font-size: clamp(14px, 4vw, 16px); 
        margin-bottom: 10vh;
    }

    .nav-tab {
        font-size: clamp(12px, 3.5vw, 14px);
    }
}